.card {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 2rem;
  padding: 0 1rem 0 0;
  border-radius: 0.4rem;
  box-shadow: 0px 18px 37px 1px rgba(25, 25, 112, 0.5);
  background-color: var(--accent-color1);
  max-width: 100%;
  align-items: center;
  transition: none;
}

.card:hover {
  box-shadow: 0px 18px 37px 1px rgba(25, 25, 112, 0.5);
}

.card .card-text > h2,
p {
  margin: 0;
  font-size: 1rem;
  text-overflow: ellipsis;
}

.img-wrapper {
  padding-right: 0.5rem;
}

.img-wrapper,
.card-text {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.card:hover > .img-card .img-wrapper > img {
  transform: 0;
}

.card-text {
  padding: 0;
  max-width: 100%;
  margin: 0;
}

.lorem {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.emoji {
  position: relative;
  top: 0;
  right: 0;
  font-size: 2.5rem;
  opacity: 0.8;
  filter: grayscale(100%);
  transition-duration: 0.5s;
  font-size: 1.8rem;
}

.emoji:hover {
  opacity: 1;
  filter: grayscale(0%);
  animation: none;
}

.img-card {
  width: 100%;
  overflow: hidden;
  margin: 0;
  position: relative;
  transition: none;
}

.img-card .img-wrapper > img {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 0.4rem 0 0 0.4rem;
  object-fit: cover;
  overflow: hidden;
  object-position: center;
  transition: none;
}
