/**************************************/
/* General Stylings*/

*,
*::before,
*::after {
  box-sizing: border-box; /* Muss das? Warum muss das? */
}

body {
  --background-color: #f4f4ff;
  --text-color: #191970;
  --accent-color1: white;
  --accent-color2: #474799;
  --color: #191970;
  background-color: var(--background-color);
  color: var(--text-color);
}

html {
  display: block;
  margin: 0 auto;
  max-width: 70ch;
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1 {
  text-transform: uppercase;
  font-size: 5rem;
}

/*@media screen and (min-width: ) {

}*/

/**************************************/
/* Specific Stylings*/

.header {
  border-left: 10px solid var(--color);
  text-align: end;
}

.header-text {
  max-width: 65ch;
}

.card {
  box-shadow: 0 55px 80px 15px rgba(0, 0, 0, 0.3);
  transition: 1ms;
  width: 600px;
  padding-bottom: 5px;
  border-radius: 10px 10px 0 0;
  transition: 1s ease-in-out;
  background-color: var(--accent-color1);
}

.card:hover {
  box-shadow: 0 55px 80px 15px rgba(25, 25, 112, 0.5);
}
.card-text {
  padding-left: 2rem;
  margin: 0 auto;
}
.emoji {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 2.5rem;
  opacity: 0.8;
  filter: grayscale(100%);
  transition-duration: 0.5s;
}

.emoji:hover {
  opacity: 1;
  filter: grayscale(0%);
  animation: wiggle 2s infinite;
}
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-25deg);
  }
  20% {
    transform: rotate(25deg);
  }
  40% {
    transform: rotate(-25deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.img-card {
  border-radius: 5px 5px 0 0;
  width: 100%;
  overflow: hidden;
  margin: 0;
  position: relative;
  transition: 0.5s ease-in-out;
}

.img-card .img-wrapper > img {
  display: block;
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  overflow: hidden;
  object-position: center;
  transition: 200ms transform ease-in-out;
}

.card:hover > .img-card .img-wrapper > img {
  transform: scale(1.025);
}

.link {
  color: var(--text-color);
}

@media screen and (prefers-color-scheme: dark) {
  body {
    --background-color: #191970;
    --text-color: #f4f4ff;
    --color: #f4f4ff;
    --accent-color1: var(--accent-color2);
  }
}
@media screen and (prefers-color-scheme: dark) {
  .card:hover {
    box-shadow: 0 55px 80px 15px rgba(62, 100, 214, 0.5);
  }
}
